h1{
    position:relative;
    text-align:center;
    margin-bottom:45px;
    font-family:"Oswald",sans-serif;
    font-size:45px;
    text-transform: uppercase;
    color:darkred;

}
.gallary-wrap{
    display:flex;
    width:100%;
    flex-direction: row;
    height:70vh;

}
.item{
    flex:1;
    height:100%;
    background-position:center;
    background-size: cover;
    background-repeat:none;
    transition:flex 0.8s ease;
}
.item:hover{
    flex:7;
}
.item-1{
    background-image:url("../myweb/124943.jpg");

    }
    .item-2{
        background-image:url("../myweb/124948.jpg");
    }
    .item-3{
        background-image:url("../myweb/125081.jpg");
    }
    .item-4{
        background-image:url("../myweb/125015.jpg");
    }

.social{
    position:absolute;
    right:35px;
    bottom:0;
}
.social img{
    display:block;
    width:35px;
    
}